.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.container .cell {
    width: 32%;
    height: 32%;
    background-color: #867291;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 15px;
    font-size: 14vmin;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 6px #4b4b4b;
    cursor: pointer;
    user-select: none;
}

.container .cell:hover {
    box-shadow: 0px 0px 6px #4b4b4b;
}

.container .cell.X {
    background-color: #86729133;
}

.container .cell.O {
    background-color: #40702554;
}

.result {
    display: flex;
    background-color: #9dc194ba;
    color: #484441;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 48px;
    left: 0;
    top: 0;
}

.result button {
    margin: 20px;
    padding: 20px 30px;
    border-radius: 45px;
    border: 0;
    cursor: pointer;
}

.result button:hover {
    box-shadow: 0px 0px 6px #4b4b4b;
}



